@font-face {
    font-family: SpaceMono;
    src: url(./fonts/SpaceMono-Regular.ttf);
  }

html, body{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "SpaceMono";
    justify-content: center;
}

/*Beginning of first half of page*/
#logo-section{ 
    display: flex;
    flex: 1 1 33vw;
    min-width: 320px;

    flex-direction: column;
    align-items: center;
    background-image: url(images/fire-edit.jpeg);
    background-size: cover;
    background-position: center center;
}

.logo-area{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    top: 70px; /*154px*/ /*130px*/
    
    height: 100px;
    width: 100%;
    background-color: rgb(218,51,48, 0.5);
    color: #ff4e41;
}

.company-name{
    font-family: "SpaceMono";
    font-size: 2rem;
    content: "CodeIn Technologies";
    word-spacing: -7px;
    margin-left: 10px;
}

.logo-area img{
    height: 50px;
    float: left;
}

footer{
    position: absolute;
    top: 97%;
    color: white;
}

a{
    color: white;
}

/*Beginning of second half of page*/
#sign-up-sheet-section{ 
    display: flex;
    flex-direction: column;
    flex: 1 1 67vw;
    min-height: 50vh; /*70vh*/

    align-items: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;  
}

.section-1{
    flex: 0.4 1 0; /*0.6*/
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    background: linear-gradient(rgba(218, 51, 48, 0.3) 0 0) bottom/ 500px 2px no-repeat, white;
    padding-left: 100px;
    padding-right: 100px;
}

.section-2{
    flex: 1 1 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    background: linear-gradient(rgba(218, 51, 48, 0.3) 0 0) bottom/ 500px 2px no-repeat, white; 
}

.section-3{
    flex: 0.7 1 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
}

p{
    max-width: 1000px;
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 700px;
    margin: 0;
    text-align: center;
}

dd{
    margin-left: 0;
    padding-bottom: 15px;
    font-size: 1.2rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label{
    font-size: .8rem;
    color:rgb(39, 38, 38);
}

input{
    width: 200px;
}

div[class*=row]{
    display: flex;
    gap: 50px;
}

span[class*=form]{
    display: flex;
    flex-direction: column;
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    background-color: #ff4e41;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
}

button:hover{
    background-color: #ff9e97;
}

button:active{
    background-color: #ff4e41;
}

.website-credits{
    color: black;
    text-align: center;
}

.website-credits a{
    color: black;
}

